.projects-section {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  padding-top: 20px;
  background: linear-gradient(to bottom, #402466 100%, rgba(79, 0, 128, 0) 0%);
  color: #fff;
  font-size: 18px;
}

.wave-wrapper {
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}


.wave-transition-bot {
  display: block;
  width: 100%;
  height: auto;       /* maintain aspect ratio */
  position: relative; /* optional */
  z-index: 0;         /* behind content */
  margin-bottom: -90px;
}
@media (min-width: 1800px) {
  .wave-transition-bot {
    margin-bottom: -120px;  /* or whatever value you want */
  }
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 40px auto;
  padding: 60px;
}

.carousel-window {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  text-align: center;
}

.carousel-slide img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.nav {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #7132CA;
  z-index: 2;
}

.nav.left {
  left: 0;
}

.nav.right {
  right: 0;
}

.carousel-dots {
  text-align: center;
  padding-bottom: 40px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #5c3d89;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #7132CA;
}




.wave-transition {
  display: block;
  width: 100%;
  height: auto;       /* maintain aspect ratio */
  margin-top: -5px;   /* move slightly up to hide gap */
  position: relative; /* optional */
  z-index: 0;         /* behind content */
  margin-top: -20px;
}


