.about-wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.about-wave-top svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 90px;
}

.about-wave-top .shape-fill {
    fill: white;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .about-wave-top svg {
        width: calc(136% + 1.3px);
        height: 170px;
    }
}

.about-wave-bot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.about-wave-bot svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 90px;
}

.about-wave-bot .shape-fill {
    fill: #FFFFFF;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .about-wave-bot svg {
        width: calc(136% + 1.3px);
        height: 170px;
    }
}
