

.home-content h1 span,
.home-content p span {
  color: #7132CA;
  font-weight: bold;
  font-size: 18px;
}

.subText {
  font-size: 18px;
}

.prof-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

}
.prof-pic-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-section {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
  padding-bottom: 150px;
  /* add this so it centers horizontally like before */
  width: 100%;
}

.cv-button {
  
  display: inline-block;
  padding: 10px 20px;
  border-radius: 38px;

  background-color: #7132CA; 
  color: white; 
  text-decoration: none; 
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  
  /* Visual Effects */
  box-shadow: 0 4px 15px rgba(113, 50, 202, 0.4); /* Shadow based on color */
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.cv-button:hover {
  background-color: #8b5ad9; /* Slightly lighter shade on hover */
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(113, 50, 202, 0.3);
  color: white;
}


/* Mobile: stack avatar above text */
@media (max-width: 768px) {
  .welcome-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }

  .welcome-section > div:last-child {
    text-align: center;
  }
  
}

@media (max-width: 768px) {
  .welcome-section {
    flex-direction: column;
    align-items: flex-start;   /* align children to left */
  }

  .avatar-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;  /* push pic to the left */
    padding-left: 1rem;           /* tweak offset */
  }
}
